@import "variables";
@import "header";
@import "main-cont";

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Light.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

html {
  font-size: $font-size;
  font-family: $font-family;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}
